.a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.b {
    width: 35%; 
}

.c {
    width: 55%;
    display: flex;
    flex-direction: column;
}
